main{
    display: flex;
    flex-wrap: wrap;
}

.left-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid white;
    max-width: 500px;
    max-height: 613px;
}


@media screen and (max-width: 900px) {

    .left-container{
        flex-direction: column;
        max-width: 800px;
        max-height: 600px;
    }
       
}

div{
    display: flex;
    border: 2px solid black;
    width: 900px;
    height: 50px;
}

.black{
    background-color: black;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.mustard-yellow{
    background-color:#FFDB58;
}